In [25]:
import sys  
sys.path.insert(0, '..')

from datetime import date, timedelta

from config import Config

import pandas as pd
import numpy as np
from sqlalchemy import create_engine

db = create_engine(Config.SQLALCHEMY_DATABASE_URI)

In [2]:
pozitivity = pd.read_excel('../data/ockovani-pozitivity-hospitalizace-jip.xlsx', sheet_name=0, usecols=['tyden', 'vek_kategorie', 'pozitivni_celkem', 'pozitivni_bez_ockovani', 'pozitivni_po_prvni', 'pozitivni_po_ukonceni', 'pozitivni_po_ukonceni_s_posilujici'])
hospitalizace = pd.read_excel('../data/ockovani-pozitivity-hospitalizace-jip.xlsx', sheet_name=1, usecols=['tyden', 'vek_kategorie', 'hospitalizace_celkem', 'hospitalizace_bez_ockovani', 'hospitalizace_po_prvni', 'hospitalizace_po_ukonceni', 'hospitalizace_po_ukonceni_s_posilujici'])
jip = pd.read_excel('../data/ockovani-pozitivity-hospitalizace-jip.xlsx', sheet_name=2, usecols=['tyden', 'vek_kategorie', 'JIP_celkem', 'JIP_bez_ockovani', 'JIP_po_prvni', 'JIP_po_ukonceni', 'JIP_po_ukonceni_s_posilujici'])

In [3]:
df = pd.merge(pozitivity, hospitalizace)
df = pd.merge(df, jip)
df

,tyden,vek_kategorie,pozitivni_celkem,pozitivni_bez_ockovani,pozitivni_po_prvni,pozitivni_po_ukonceni,pozitivni_po_ukonceni_s_posilujici,hospitalizace_celkem,hospitalizace_bez_ockovani,hospitalizace_po_prvni,hospitalizace_po_ukonceni,hospitalizace_po_ukonceni_s_posilujici,JIP_celkem,JIP_bez_ockovani,JIP_po_prvni,JIP_po_ukonceni,JIP_po_ukonceni_s_posilujici
0,2020-53,50-54 let,5959,5946,13,0,0,219,219,0,0,0,42,42,0,0,0
1,2021-34,75-79 let,10,1,0,9,0,4,3,0,1,0,1,1,0,0,0
2,2021-11,40-44 let,5988,5862,112,14,0,207,199,6,2,0,49,47,1,1,0
3,2021-12,20-24 let,2783,2745,33,5,0,21,20,0,1,0,2,2,0,0,0
4,2021-29,85-89 let,5,3,0,2,0,4,3,0,1,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,2021-01,65-69 let,4996,4984,12,0,0,693,693,0,0,0,174,174,0,0,0
535,2021-03,80-84 let,1062,1021,41,0,0,524,509,15,0,0,74,70,4,0,0
536,2021-41,70-74 let,198,52,5,141,0,47,22,4,21,0,13,8,2,3,0
537,2021-15,65-69 let,1132,1068,57,7,0,327,311,14,2,0,92,90,2,0,0
538,2021-24,85-89 let,12,6,4,2,0,6,3,2,1,0,2,1,0,1,0

In [4]:
df = df.rename({'vek_kategorie': 'vekova_skupina'}, axis='columns')
df['vekova_skupina'] = df['vekova_skupina'].str.replace(' let', '')
df

,tyden,vekova_skupina,pozitivni_celkem,pozitivni_bez_ockovani,pozitivni_po_prvni,pozitivni_po_ukonceni,pozitivni_po_ukonceni_s_posilujici,hospitalizace_celkem,hospitalizace_bez_ockovani,hospitalizace_po_prvni,hospitalizace_po_ukonceni,hospitalizace_po_ukonceni_s_posilujici,JIP_celkem,JIP_bez_ockovani,JIP_po_prvni,JIP_po_ukonceni,JIP_po_ukonceni_s_posilujici
0,2020-53,50-54,5959,5946,13,0,0,219,219,0,0,0,42,42,0,0,0
1,2021-34,75-79,10,1,0,9,0,4,3,0,1,0,1,1,0,0,0
2,2021-11,40-44,5988,5862,112,14,0,207,199,6,2,0,49,47,1,1,0
3,2021-12,20-24,2783,2745,33,5,0,21,20,0,1,0,2,2,0,0,0
4,2021-29,85-89,5,3,0,2,0,4,3,0,1,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,2021-01,65-69,4996,4984,12,0,0,693,693,0,0,0,174,174,0,0,0
535,2021-03,80-84,1062,1021,41,0,0,524,509,15,0,0,74,70,4,0,0
536,2021-41,70-74,198,52,5,141,0,47,22,4,21,0,13,8,2,3,0
537,2021-15,65-69,1132,1068,57,7,0,327,311,14,2,0,92,90,2,0,0
538,2021-24,85-89,12,6,4,2,0,6,3,2,1,0,2,1,0,1,0

In [5]:
df['vekova_skupina'] = df['vekova_skupina'].str.replace(' let', '')
df

,tyden,vekova_skupina,pozitivni_celkem,pozitivni_bez_ockovani,pozitivni_po_prvni,pozitivni_po_ukonceni,pozitivni_po_ukonceni_s_posilujici,hospitalizace_celkem,hospitalizace_bez_ockovani,hospitalizace_po_prvni,hospitalizace_po_ukonceni,hospitalizace_po_ukonceni_s_posilujici,JIP_celkem,JIP_bez_ockovani,JIP_po_prvni,JIP_po_ukonceni,JIP_po_ukonceni_s_posilujici
0,2020-53,50-54,5959,5946,13,0,0,219,219,0,0,0,42,42,0,0,0
1,2021-34,75-79,10,1,0,9,0,4,3,0,1,0,1,1,0,0,0
2,2021-11,40-44,5988,5862,112,14,0,207,199,6,2,0,49,47,1,1,0
3,2021-12,20-24,2783,2745,33,5,0,21,20,0,1,0,2,2,0,0,0
4,2021-29,85-89,5,3,0,2,0,4,3,0,1,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,2021-01,65-69,4996,4984,12,0,0,693,693,0,0,0,174,174,0,0,0
535,2021-03,80-84,1062,1021,41,0,0,524,509,15,0,0,74,70,4,0,0
536,2021-41,70-74,198,52,5,141,0,47,22,4,21,0,13,8,2,3,0
537,2021-15,65-69,1132,1068,57,7,0,327,311,14,2,0,92,90,2,0,0
538,2021-24,85-89,12,6,4,2,0,6,3,2,1,0,2,1,0,1,0

In [48]:
srovnani = pd.read_sql_query(
    f"""
    select * from srovnani_ockovani s 
    where s.od < '2021-10-28'
    """,
    db
)

srovnani = srovnani[srovnani['od'] == srovnani['od'].max()]
srovnani['vekova_skupina'] = srovnani['vekova_skupina'].replace({'80-84': '80+', '85-89': '80+', '90+': '80+'})
srovnani = srovnani.groupby(['tyden', 'od', 'do', 'vekova_skupina']).sum().reset_index()

srovnani

,tyden,od,do,vekova_skupina,nakazeni_celkem,nakazeni_bez,nakazeni_castecne,nakazeni_plne,nakazeni_posilujici,hospitalizace_celkem,hospitalizace_bez,hospitalizace_castecne,hospitalizace_plne,hospitalizace_posilujici,hospitalizace_jip_celkem,hospitalizace_jip_bez,hospitalizace_jip_castecne,hospitalizace_jip_plne,hospitalizace_jip_posilujici
0,2021-42,2021-10-18,2021-10-24,15-19,1998,1791,42,165,0,5,5,0,0,0,1,1,0,0,0
1,2021-42,2021-10-18,2021-10-24,25-29,1145,894,23,228,0,15,15,0,0,0,1,1,0,0,0
2,2021-42,2021-10-18,2021-10-24,30-34,1335,1015,18,302,0,18,16,1,1,0,2,1,0,1,0
3,2021-42,2021-10-18,2021-10-24,35-39,1583,1070,25,488,0,28,25,1,2,0,1,1,0,0,0
4,2021-42,2021-10-18,2021-10-24,40-44,2032,1202,22,808,0,24,20,0,4,0,3,2,0,1,0
5,2021-42,2021-10-18,2021-10-24,45-49,1858,1107,20,730,1,50,45,0,4,1,8,6,0,1,1
6,2021-42,2021-10-18,2021-10-24,50-54,1117,633,12,472,0,39,29,1,9,0,7,4,0,3,0
7,2021-42,2021-10-18,2021-10-24,55-59,932,499,10,422,1,44,33,2,8,1,8,7,0,1,0
8,2021-42,2021-10-18,2021-10-24,60-64,632,268,5,358,1,50,39,0,11,0,10,10,0,0,0
9,2021-42,2021-10-18,2021-10-24,65-69,515,202,6,307,0,73,43,1,29,0,15,10,1,4,0
10,2021-42,2021-10-18,2021-10-24,70-74,478,129,3,346,0,108,55,1,52,0,18,7,1,10,0
11,2021-42,2021-10-18,2021-10-24,75-79,431,126,5,299,1,133,54,4,74,1,14,5,1,8,0
12,2021-42,2021-10-18,2021-10-24,80+,431,130,5,296,0,182,79,3,100,0,12,3,0,9,0

In [49]:
populace = pd.read_sql_query(
    """
    select vekova_skupina, sum(pocet) populace, min_vek
        from populace p 
        join populace_kategorie k on (k.min_vek <= vek and k.max_vek >= vek)
        where orp_kod = 'CZ0'
        group by vekova_skupina
    """, 
db)
populace

   vekova_skupina   populace  min_vek
0           60-64   625465.0       60
1           18-24   669492.0       18
2           25-29   620925.0       25
3           65-69   672418.0       65
4           45-49   882586.0       45
5           40-44   893321.0       40
6           50-54   691083.0       50
7           16-17   195016.0       16
8           75-79   417201.0       75
9           70-74   621177.0       70
10            80+   447526.0       80
11          55-59   669733.0       55
12          35-39   753310.0       35
13          12-15   456488.0       12
14           0-11  1367105.0        0
15          30-34   718931.0       30

In [50]:
ockovani = pd.read_sql_query(
    f"""
    select datum, vekova_skupina,
        sum(case when poradi_davky = 1 then pocet else 0 end) populace_ockovani, 
        sum(case when poradi_davky = v.davky then pocet else 0 end) populace_plne, 
        sum(case when poradi_davky = 3 then pocet else 0 end) populace_posilujici
    from ockovani_lide o
    join vakciny v on (o.vakcina = v.vakcina)
    where datum < '2021-10-25'
    group by datum, vekova_skupina
    """,
    db
)
ockovani = ockovani.groupby(['vekova_skupina', 'datum']).sum().groupby(level=0).cumsum().reset_index()
ockovani

,vekova_skupina,datum,populace_ockovani,populace_plne,populace_posilujici
0,0-11,2021-10-01,1,0,0
1,0-11,2021-10-12,2,0,0
2,12-15,2021-01-19,1,0,0
3,12-15,2021-02-17,1,1,0
4,12-15,2021-02-23,2,1,0
...,...,...,...,...,...
4404,80+,2021-10-20,364046,362548,19637
4405,80+,2021-10-21,364162,362661,24502
4406,80+,2021-10-22,364262,362723,29384
4407,80+,2021-10-23,364273,362735,30350
4408,80+,2021-10-24,364283,362744,31073

In [51]:
df = pd.merge(ockovani, populace)
df = pd.merge(df, srovnani, left_on=['datum', 'vekova_skupina'], right_on=['od', 'vekova_skupina'])



df['vekova_skupina'] = df['vekova_skupina'].replace({'25-29': '25-39', '30-34': '25-39', '35-39': '25-39', '40-44': '40-49', '45-49': '40-49', '50-54': '50-59', '55-59': '50-59', 
                                                     '60-64': '60-69', '65-69': '60-69', '70-74': '70-79', '75-79': '70-79'})

df[['vekova_skupina', 'min_vek']] = df[['vekova_skupina', 'min_vek']].groupby('vekova_skupina').min().reset_index()
df = df.groupby(['datum', 'tyden', 'od', 'do', 'vekova_skupina', 'min_vek']).sum().reset_index()

df = df[df['datum'] == df['datum'].max()]

df['populace_bez'] = df['populace'] - df['populace_ockovani']
df['populace_plne'] = df['populace_plne']

df

,datum,tyden,od,do,vekova_skupina,min_vek,populace_ockovani,populace_plne,populace_posilujici,populace,...,hospitalizace_bez,hospitalizace_castecne,hospitalizace_plne,hospitalizace_posilujici,hospitalizace_jip_celkem,hospitalizace_jip_bez,hospitalizace_jip_castecne,hospitalizace_jip_plne,hospitalizace_jip_posilujici,populace_bez
0,2021-10-18,2021-42,2021-10-18,2021-10-24,25-39,25.0,301584,291189,1504,620925.0,...,15,0,0,0,1,1,0,0,0,319341.0
1,2021-10-18,2021-42,2021-10-18,2021-10-24,40-49,40.0,368809,358206,1861,718931.0,...,16,1,1,0,2,1,0,1,0,350122.0
2,2021-10-18,2021-42,2021-10-18,2021-10-24,50-59,50.0,416756,406978,2494,753310.0,...,25,1,2,0,1,1,0,0,0,336554.0
3,2021-10-18,2021-42,2021-10-18,2021-10-24,60-69,60.0,554958,543546,3988,893321.0,...,20,0,4,0,3,2,0,1,0,338363.0
4,2021-10-18,2021-42,2021-10-18,2021-10-24,70-79,70.0,604812,599844,5093,882586.0,...,45,0,4,1,8,6,0,1,1,277774.0
5,2021-10-18,2021-42,2021-10-18,2021-10-24,80+,80.0,485788,481580,4455,691083.0,...,29,1,9,0,7,4,0,3,0,205295.0

In [53]:
df_norm = df.copy()

datasets = ['nakazeni', 'hospitalizace', 'hospitalizace_jip']
groups = ['bez', 'plne']

for d in datasets:
    df_norm[d + '_plne'] = df_norm[d + '_plne'] + df_norm[d + '_posilujici']
    for g in groups:
        df_norm[d + '_' + g + '_norm'] = ((100000 * df_norm[d + '_' + g]) / df_norm['populace_' + g]).replace({np.nan: 0})
        
df_norm

,datum,tyden,od,do,vekova_skupina,min_vek,populace_ockovani,populace_plne,populace_posilujici,populace,...,hospitalizace_jip_castecne,hospitalizace_jip_plne,hospitalizace_jip_posilujici,populace_bez,nakazeni_bez_norm,nakazeni_plne_norm,hospitalizace_bez_norm,hospitalizace_plne_norm,hospitalizace_jip_bez_norm,hospitalizace_jip_plne_norm
0,2021-10-18,2021-42,2021-10-18,2021-10-24,25-39,25.0,301584,291189,1504,620925.0,...,0,0,0,319341.0,279.951525,78.299661,4.697173,0.000000,0.313145,0.000000
1,2021-10-18,2021-42,2021-10-18,2021-10-24,40-49,40.0,368809,358206,1861,718931.0,...,0,1,0,350122.0,289.898950,84.309029,4.569836,0.279169,0.285615,0.279169
2,2021-10-18,2021-42,2021-10-18,2021-10-24,50-59,50.0,416756,406978,2494,753310.0,...,0,0,0,336554.0,317.928178,119.908201,7.428228,0.491427,0.297129,0.000000
3,2021-10-18,2021-42,2021-10-18,2021-10-24,60-69,60.0,554958,543546,3988,893321.0,...,0,1,0,338363.0,355.239787,148.653472,5.910812,0.735908,0.591081,0.183977
4,2021-10-18,2021-42,2021-10-18,2021-10-24,70-79,70.0,604812,599844,5093,882586.0,...,0,2,1,277774.0,398.525420,121.865018,16.200220,0.833550,2.160029,0.333420
5,2021-10-18,2021-42,2021-10-18,2021-10-24,80+,80.0,485788,481580,4455,691083.0,...,0,3,0,205295.0,308.336784,98.010715,14.126014,1.868848,1.948416,0.622949