In [2]:
import sys  
sys.path.insert(0, '..')

from datetime import date, timedelta

from config import Config

import pandas as pd
from sqlalchemy import create_engine

db = create_engine(Config.SQLALCHEMY_DATABASE_URI)

In [3]:
pozitivity = pd.read_excel('../data/ockovani-pozitivity-hospitalizace-jip.xlsx', sheet_name=0, usecols=['tyden', 'vek_kategorie', 'pozitivni_celkem', 'pozitivni_bez_ockovani', 'pozitivni_po_prvni', 'pozitivni_po_ukonceni', 'pozitivni_po_ukonceni_s_posilujici'])
hospitalizace = pd.read_excel('../data/ockovani-pozitivity-hospitalizace-jip.xlsx', sheet_name=1, usecols=['tyden', 'vek_kategorie', 'hospitalizace_celkem', 'hospitalizace_bez_ockovani', 'hospitalizace_po_prvni', 'hospitalizace_po_ukonceni', 'hospitalizace_po_ukonceni_s_posilujici'])
jip = pd.read_excel('../data/ockovani-pozitivity-hospitalizace-jip.xlsx', sheet_name=2, usecols=['tyden', 'vek_kategorie', 'JIP_celkem', 'JIP_bez_ockovani', 'JIP_po_prvni', 'JIP_po_ukonceni', 'JIP_po_ukonceni_s_posilujici'])

In [4]:
df = pd.merge(pozitivity, hospitalizace)
df = pd.merge(df, jip)
df

,tyden,vek_kategorie,pozitivni_celkem,pozitivni_bez_ockovani,pozitivni_po_prvni,pozitivni_po_ukonceni,pozitivni_po_ukonceni_s_posilujici,hospitalizace_celkem,hospitalizace_bez_ockovani,hospitalizace_po_prvni,hospitalizace_po_ukonceni,hospitalizace_po_ukonceni_s_posilujici,JIP_celkem,JIP_bez_ockovani,JIP_po_prvni,JIP_po_ukonceni,JIP_po_ukonceni_s_posilujici
0,2020-53,50-54 let,5959,5946,13,0,0,219,219,0,0,0,42,42,0,0,0
1,2021-34,75-79 let,10,1,0,9,0,4,3,0,1,0,1,1,0,0,0
2,2021-11,40-44 let,5988,5862,112,14,0,207,199,6,2,0,49,47,1,1,0
3,2021-12,20-24 let,2783,2745,33,5,0,21,20,0,1,0,2,2,0,0,0
4,2021-29,85-89 let,5,3,0,2,0,4,3,0,1,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,2021-01,65-69 let,4996,4984,12,0,0,693,693,0,0,0,174,174,0,0,0
535,2021-03,80-84 let,1062,1021,41,0,0,524,509,15,0,0,74,70,4,0,0
536,2021-41,70-74 let,198,52,5,141,0,47,22,4,21,0,13,8,2,3,0
537,2021-15,65-69 let,1132,1068,57,7,0,327,311,14,2,0,92,90,2,0,0
538,2021-24,85-89 let,12,6,4,2,0,6,3,2,1,0,2,1,0,1,0

In [5]:
df = df.rename({'vek_kategorie': 'vekova_skupina'}, axis='columns')
df['vekova_skupina'] = df['vekova_skupina'].str.replace(' let', '')
df

,tyden,vekova_skupina,pozitivni_celkem,pozitivni_bez_ockovani,pozitivni_po_prvni,pozitivni_po_ukonceni,pozitivni_po_ukonceni_s_posilujici,hospitalizace_celkem,hospitalizace_bez_ockovani,hospitalizace_po_prvni,hospitalizace_po_ukonceni,hospitalizace_po_ukonceni_s_posilujici,JIP_celkem,JIP_bez_ockovani,JIP_po_prvni,JIP_po_ukonceni,JIP_po_ukonceni_s_posilujici
0,2020-53,50-54,5959,5946,13,0,0,219,219,0,0,0,42,42,0,0,0
1,2021-34,75-79,10,1,0,9,0,4,3,0,1,0,1,1,0,0,0
2,2021-11,40-44,5988,5862,112,14,0,207,199,6,2,0,49,47,1,1,0
3,2021-12,20-24,2783,2745,33,5,0,21,20,0,1,0,2,2,0,0,0
4,2021-29,85-89,5,3,0,2,0,4,3,0,1,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,2021-01,65-69,4996,4984,12,0,0,693,693,0,0,0,174,174,0,0,0
535,2021-03,80-84,1062,1021,41,0,0,524,509,15,0,0,74,70,4,0,0
536,2021-41,70-74,198,52,5,141,0,47,22,4,21,0,13,8,2,3,0
537,2021-15,65-69,1132,1068,57,7,0,327,311,14,2,0,92,90,2,0,0
538,2021-24,85-89,12,6,4,2,0,6,3,2,1,0,2,1,0,1,0

In [6]:
df['vekova_skupina'] = df['vekova_skupina'].str.replace(' let', '')
df

,tyden,vekova_skupina,pozitivni_celkem,pozitivni_bez_ockovani,pozitivni_po_prvni,pozitivni_po_ukonceni,pozitivni_po_ukonceni_s_posilujici,hospitalizace_celkem,hospitalizace_bez_ockovani,hospitalizace_po_prvni,hospitalizace_po_ukonceni,hospitalizace_po_ukonceni_s_posilujici,JIP_celkem,JIP_bez_ockovani,JIP_po_prvni,JIP_po_ukonceni,JIP_po_ukonceni_s_posilujici
0,2020-53,50-54,5959,5946,13,0,0,219,219,0,0,0,42,42,0,0,0
1,2021-34,75-79,10,1,0,9,0,4,3,0,1,0,1,1,0,0,0
2,2021-11,40-44,5988,5862,112,14,0,207,199,6,2,0,49,47,1,1,0
3,2021-12,20-24,2783,2745,33,5,0,21,20,0,1,0,2,2,0,0,0
4,2021-29,85-89,5,3,0,2,0,4,3,0,1,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,2021-01,65-69,4996,4984,12,0,0,693,693,0,0,0,174,174,0,0,0
535,2021-03,80-84,1062,1021,41,0,0,524,509,15,0,0,74,70,4,0,0
536,2021-41,70-74,198,52,5,141,0,47,22,4,21,0,13,8,2,3,0
537,2021-15,65-69,1132,1068,57,7,0,327,311,14,2,0,92,90,2,0,0
538,2021-24,85-89,12,6,4,2,0,6,3,2,1,0,2,1,0,1,0

In [16]:
srovnani = pd.read_sql_query(
    f"""
    select * from srovnani_ockovani s 
    where s.od < '2021-10-25'
    """,
    db.engine
)
srovnani

,tyden,od,do,vekova_skupina,pozitivni_celkem,pozitivni_bez_ockovani,pozitivni_po_prvni,pozitivni_po_ukonceni,pozitivni_po_ukonceni_s_posilujici,hospitalizace_celkem,hospitalizace_bez_ockovani,hospitalizace_po_prvni,hospitalizace_po_ukonceni,hospitalizace_po_ukonceni_s_posilujici,JIP_celkem,JIP_bez_ockovani,JIP_po_prvni,JIP_po_ukonceni,JIP_po_ukonceni_s_posilujici
0,2020-53,2020-12-28,2021-01-03,50-54,5959,5946,13,0,0,219,219,0,0,0,42,42,0,0,0
1,2021-34,2021-08-23,2021-08-29,75-79,10,1,0,9,0,4,3,0,1,0,1,1,0,0,0
2,2021-11,2021-03-15,2021-03-21,40-44,5988,5862,112,14,0,207,199,6,2,0,49,47,1,1,0
3,2021-12,2021-03-22,2021-03-28,20-24,2783,2745,33,5,0,21,20,0,1,0,2,2,0,0,0
4,2021-29,2021-07-19,2021-07-25,85-89,5,3,0,2,0,4,3,0,1,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,2021-01,2021-01-04,2021-01-10,65-69,4996,4984,12,0,0,693,693,0,0,0,174,174,0,0,0
535,2021-03,2021-01-18,2021-01-24,80-84,1062,1021,41,0,0,524,509,15,0,0,74,70,4,0,0
536,2021-41,2021-10-11,2021-10-17,70-74,198,52,5,141,0,47,22,4,21,0,13,8,2,3,0
537,2021-15,2021-04-12,2021-04-18,65-69,1132,1068,57,7,0,327,311,14,2,0,92,90,2,0,0
538,2021-24,2021-06-14,2021-06-20,85-89,12,6,4,2,0,6,3,2,1,0,2,1,0,1,0

In [14]:
populace = pd.read_sql_query(
    """
    select vekova_skupina, sum(pocet) pocet_vek, min_vek
        from populace p 
        join populace_kategorie k on (k.min_vek <= vek and k.max_vek >= vek)
        where orp_kod = 'CZ0'
        group by vekova_skupina
    """, 
db)
populace

   vekova_skupina  pocet_vek  min_vek
0           50-54   691083.0       50
1           30-34   718931.0       30
2           25-29   620925.0       25
3           16-17   195016.0       16
4            0-11  1367105.0        0
5             80+   447526.0       80
6           65-69   672418.0       65
7           75-79   417201.0       75
8           55-59   669733.0       55
9           45-49   882586.0       45
10          70-74   621177.0       70
11          18-24   669492.0       18
12          35-39   753310.0       35
13          40-44   893321.0       40
14          60-64   625465.0       60
15          12-15   456488.0       12

In [18]:
ockovani = pd.read_sql_query(
    f"""
    select datum, vekova_skupina,
        sum(case when poradi_davky = 1 then pocet else 0 end) populace_ockovani, 
        sum(case when poradi_davky = v.davky then pocet else 0 end) populace_plne, 
        sum(case when poradi_davky = 3 then pocet else 0 end) populace_posilujici
    from ockovani_lide o
    join vakciny v on (o.vakcina = v.vakcina)
    where datum < '2021-10-25'
    group by datum, vekova_skupina
    """,
    db
)
ockovani[['populace_ockovani', 'populace_plne', 'populace_posilujici']] = ockovani[['populace_ockovani', 'populace_plne', 'populace_posilujici']].transform(pd.Series.cumsum)
ockovani

,datum,vekova_skupina,populace_ockovani,populace_plne,populace_posilujici
0,2020-12-27,18-24,51,0,0
1,2020-12-27,25-29,167,0,0
2,2020-12-27,30-34,281,0,0
3,2020-12-27,35-39,404,0,0
4,2020-12-27,40-44,582,0,0
...,...,...,...,...,...
4404,2021-10-24,60-64,6165678,6054654,115096
4405,2021-10-24,65-69,6165720,6054685,115195
4406,2021-10-24,70-74,6165747,6054708,115562
4407,2021-10-24,75-79,6165765,6054719,116152
4408,2021-10-24,80+,6165775,6054728,116875

In [19]:
df = pd.merge(ockovani, populace)
df

,datum,vekova_skupina,populace_ockovani,populace_plne,populace_posilujici,pocet_vek,min_vek
0,2020-12-27,18-24,51,0,0,669492.0,18
1,2020-12-28,18-24,1356,0,0,669492.0,18
2,2020-12-29,18-24,3691,0,0,669492.0,18
3,2020-12-30,18-24,7160,0,0,669492.0,18
4,2020-12-31,18-24,10597,0,0,669492.0,18
...,...,...,...,...,...,...,...
4404,2021-10-22,12-15,6151791,6046121,92500,456488.0,12
4405,2021-10-23,12-15,6160618,6051736,110791,456488.0,12
4406,2021-10-24,12-15,6163706,6053432,114418,456488.0,12
4407,2021-10-01,0-11,6086267,5964512,5883,1367105.0,0
4408,2021-10-12,0-11,6114106,6008753,23944,1367105.0,0